body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 420px;
    width: 50%;
    height: 540px;
    padding: 20px;
    border: 0px solid black;
    box-shadow: -30px 5px 50px black;
    background-color: white;
  }
  
  .form-container {
    text-align: left;
    flex-direction: column;
    display: flex;
  }
  
  .heading {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: grey;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #4CAF50;
    outline: none;
  }
  
  button {
    margin-top: 20px;
    font-size: 20px;
    padding: 12px 20px;
    background-color: #21917B;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    font-weight: bold;
  }
  
  button span {
    text-align: center;
  }
  
  button i {
    position: absolute;
    right: 50px;
    font-size: 24px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  a {
    color: #21917B;
  }
  
  a.text-decoration-none {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #000;
    margin-top: 20px;
  }
  
  a.text-decoration-none:hover {
    color: #45a049;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  .d-none {
    display: none;
  }